@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {
    .bottom-line-animated, .animated-to-top {
        @apply relative overflow-hidden; 
    }

    .bottom-line-animated::before, .bottom-line-animated::after {
        content: '';
        @apply absolute w-[96%] md:w-[93%] h-[1px] mx-auto bg-gray-500 bottom-0 left-1/2 -translate-x-1/2
    }

    .bottom-line-animated::after {
        @apply scale-x-0 origin-right transition-transform duration-500 ease-in-out;
    }
    
    .bottom-line-animated:hover::after {
        @apply scale-x-100 origin-left;
    }

    .animated-to-top::after {
        content: 'Let\'s connect' !important;
        @apply absolute h-full left-0 right-0 -bottom-[97%]  bg-black;
        @apply rounded-3xl text-white transition-all duration-500;
        @apply flex items-center justify-center ease-out;
    }

    .animated-to-top:hover::after {
        @apply bottom-0
    }

    .smaller-paragraph {
        @apply text-base md:text-lg xl:text-xl
    }

    .paragraph {
        @apply text-base max-w-md md:text-lg md:max-w-lg lg:text-xl lg:max-w-xl xl:text-2xl xl:max-w-2xl
    }

    .subheader {
        @apply max-w-96 text-2xl sm:max-w-lg sm:text-3xl md:max-w-xl md:text-4xl lg:text-5xl xl:max-w-full xl:text-6xl font-normal font-montserrat
    }

    .about-subheader {
        @apply text-2xl xl:text-4xl 
    }

    .about-paragraph {
        @apply text-base sm:text-lg xl:text-xl
    }

    .iterating-list-item {
        @apply flex items-center
    }

    .dot-circle {
        @apply rounded-full bg-black w-[0.6rem] h-[0.6rem] mx-20
    }

    .header-link {
        @apply cursor-pointer px-3 py-1 bg-transparent rounded-full;
        @apply transition-all duration-200 ease-out hover:bg-black hover:text-white
    }

    .property-list-item {
        @apply px-5 py-2 xl:px-7 ;
        @apply flex items-center justify-center;
        @apply rounded-full border-[1px] bg-transparent border-white;
        @apply uppercase smaller-paragraph border-opacity-60;
    }

    .project-link {
        @apply underline paragraph transition-all duration-500 hover:text-gray-300;
    }

    .double-skill {
        @apply flex flex-col space-y-1 md:space-y-2 lg:space-y-3 xl:space-y-4 even:mt-8
    }

    .skill {
        @apply aspect-square w-12 sm:w-[3.6rem] md:w-[4.2rem] lg:w-[5rem] xl:w-[6.6rem] rounded-lg bg-white bg-opacity-70 flex items-center justify-center
    }

    .skill-logo {
        @apply w-6 sm:w-7 md:w-9 lg:w-11 xl:w-12 aspect-square opacity-90
    }

    .link {
        @apply px-2 py-2 bottom-line-animated whitespace-nowrap
    }

    .animated-vertical-line {
        @apply flex flex-col items-center overflow-hidden
    }

    .project-image-wrapper {
        @apply rounded-xl max-w-full
    }

    .slide-in-default {
        @apply opacity-0 translate-y-[2%]
    }

    .live-preview-tooltip {
        @apply absolute -right-2 w-52 bg-white leading-4 text-base -bottom-[3.75rem] text-gray-900; 
        @apply text-start p-2 rounded-xl transition-all opacity-0 ease-in pointer-events-none group-hover:opacity-75
    }

    .skill-tooltip {
        @apply w-fit left-1/2 -translate-x-1/2 whitespace-nowrap z-10
    }

    .project-image {
        @apply min-h-full min-w-full object-cover object-left-top
    }

    .image-center {
        @apply p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12
    }

    .image-x-center {
        @apply px-7 sm:px-10 md:px-12 lg:px-14 xl:px-16
    }

    .image-x-center-bottom {
        @apply pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12
    }

    .image-x-center-top {
        @apply pb-4 sm:pb-6 md:pb-8 lg:pb-10 xl:pb-12
    }

    .image-bottom-right {
        @apply pl-7 sm:pl-10 md:pl-12 lg:pl-14 xl:pl-16
    }
}


@keyframes slide-left {
    from {
        right: -80%;
    }

    to {
        right: 0;
    }
}

#about-me-popover {
    scrollbar-width:none;

    &:popover-open {
        display: flex;
        animation: slide-left 0.4s ease;
    }

    &:popover-open::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        scroll-behavior: none;
    }
}


@keyframes scroll {
    to {
        transform: translateX(-50%)
    }
}

.horizontal-scroller {
    animation: scroll 15s linear infinite;
}

.horizontal-scroll-container:hover .horizontal-scroller {
    animation-play-state: paused;
}


@keyframes slide-in {
    to {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

.animate-slide-in {
    animation: slide-in 0.2s ease-in-out forwards;
}


