@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {
    .paragraph {
        @apply text-2xl
    }

    .iterating-list-item {
        @apply flex items-center
    }

    .dot-circle {
        @apply rounded-full bg-black w-[0.6rem] h-[0.6rem] mx-20
    }

    .header-link {
        @apply cursor-pointer px-3 py-1 bg-transparent rounded-full;
    }

    .property-list-item {
        @apply flex items-center justify-center px-7 py-2 ;
        @apply rounded-full border-[1px] bg-transparent border-white;
        @apply uppercase text-xl border-opacity-60;
    }

    .project-link {
        @apply underline paragraph
    }

    .vertical-iterating-line {
        @apply rounded-xl bg-white bg-opacity-10 w-1/2 px-10 py-6 flex;
        @apply flex-col items-center max-h-[32rem] overflow-hidden
    }

    .vertical-line-element {
        @apply flex items-center space-x-3 paragraph text-center
    }

    .subheader {
        @apply text-6xl font-normal
    }

    .link {
        @apply px-2 py-2 underline
    }
}

@keyframes slide-right {
    from {
        background-color: transparent;
        color:black;
    }

    to {
        background-color: black;
        color: white;
    }
}

.header-link:hover {
    animation: slide-right .7s;
}