@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer components {
    .paragraph {
        @apply text-2xl
    }

    .iterating-list-item {
        @apply flex items-center
    }

    .dot-circle {
        @apply rounded-full bg-black w-3 h-3 mx-20
    }

    .header-link {
        @apply cursor-pointer px-3 py-1 bg-transparent rounded-full;
    }

    .property-list-item {
        @apply flex items-center justify-center px-7 py-2 ;
        @apply rounded-full border-[1px] bg-transparent border-white;
        @apply uppercase text-xl border-opacity-60;
    }

    .project-link {
        @apply underline paragraph
    }
}

@keyframes slide-right {
    from {
        background-color: transparent;
        color:black;
    }

    to {
        background-color: black;
        color: white;
    }
}

.header-link:hover {
    animation: slide-right .7s;
}